/* ================= BASE FOOTER ================= */
.footerCmp footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px 40px;
  color: black;
}

.footerCmp footer > div {
  flex: 1;
  min-width: 200px;
  margin-bottom: 15px;
}

/* ================= LOGO ================= */
.footerCmp footer .logo {
  display: block;
  height: 120px;
  margin: 0 auto 10px;
}

.footerCmp .logoTagline {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.footerCmp .logoQuote {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  color: gray;
}

/* ================= HEADINGS ================= */
.footerCmp footer h1 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

/* ================= LIST LINKS ================= */
.footerCmp footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footerCmp footer li {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footerCmp footer li:hover {
  color: #808080;
}

/* ================= SOCIAL MEDIA ================= */
.footerCmp .footerIcons {
  display: flex;
  flex-direction: column;      /* one by one */
  align-items: center;     /* desktop left */
  gap: 10px;
  margin-top: 10px;
}

.footerCmp .footerIcons a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerCmp .footerIcons a svg {
  font-size: 18px;
  color: black;
  transition: color 0.3s ease;
}

.footerCmp .footerIcons a:hover,
.footerCmp .footerIcons a:hover svg {
  color: #ff4d6d;
}

/* ================= COPYRIGHT ================= */
.footerCmp .paragraphFooter {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: black;
  padding-bottom: 25px;
}

/* ================= TABLET ================= */
@media (max-width: 992px) {
  .footerCmp footer {
    justify-content: center;
    text-align: center;
  }

  .footerCmp footer > div {
    flex: 1 1 45%;
    max-width: 45%;
     padding: 10px 0; 
  }

  .footerCmp .footerIcons {
    align-items: center;
  }
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .footerCmp footer {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .footerCmp footer > div {
    max-width: 100%;
    text-align: center;
  }

  .footerCmp .footerIcons {
    align-items: center;
  }

  .footerCmp .paragraphFooter {
    font-size: 10px;
  }


}
